<div>
    <h2 translate="webstockerApp.ligneobjectifvente.home.title">Ligneobjectifventes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="ligneobjectifvente.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="webstockerApp.ligneobjectifvente.home.createLabel">
                        Create new Ligneobjectifvente
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'webstockerApp.ligneobjectifvente.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="webstockerApp.ligneobjectifvente.quantiteObjectif">QuantiteObjectif</span></th>
                    <th><span translate="webstockerApp.ligneobjectifvente.objectifs">objectifs</span></th>
                    <th><span translate="webstockerApp.ligneobjectifvente.produit">produit</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ligneobjectifvente in vm.ligneobjectifventes track by ligneobjectifvente.id">
                    <td><a ui-sref="ligneobjectifvente-detail({id:ligneobjectifvente.id})">{{ligneobjectifvente.id}}</a></td>
                    <td>{{ligneobjectifvente.quantiteObjectif}}</td>
                    <td>
                        <a ui-sref="objectifs-detail({id:ligneobjectifvente.objectifs.id})">{{ligneobjectifvente.objectifs.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="produit-detail({id:ligneobjectifvente.produit.id})">{{ligneobjectifvente.produit.nomProduit}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="ligneobjectifvente-detail({id:ligneobjectifvente.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="ligneobjectifvente.edit({id:ligneobjectifvente.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="ligneobjectifvente.delete({id:ligneobjectifvente.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
