
<form name="editForm" role="form"  class="form-horizontal" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInventaireLabel" >Editer ou Faire un Inventaire</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.inventaire.id" style="display: none">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.inventaire.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"  for="field_dateInventaire">Date Inventaire</label>
            <div class="col-md-6">    
                <div class="input-group">
                    <input id="field_dateInventaire" type="text" class="form-control" name="dateInventaire" uib-datepicker-popup="MMMM yyyy" 
                           ng-model="vm.inventaire.dateInventaire" is-open="vm.datePickerOpenStatus.dateInventaire" required />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateInventaire')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
                <div ng-show="editForm.dateInventaire.$invalid">
                    <p class="help-block"
                       ng-show="editForm.dateInventaire.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="field_magasin">Magasin</label>
            <div class="col-md-6">
                <select class="form-control" id="field_magasin" name="magasin" ng-model="vm.inventaire.magasin" required
                        ng-options="magasin as magasin.nomMagasin for magasin in vm.magasins track by magasin.id">
                    <option value=""></option>
                </select>
                <div ng-show="editForm.magasin.$invalid">
                    <p class="help-block"
                       ng-show="editForm.magasin.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="field_produit">Produit</label>
            <div class="col-md-6">
                <select class="form-control" id="field_produit" name="produit" ng-model="vm.inventaire.produit" required
                        ng-options="produit as produit.nomProduit for produit in vm.produits  track by produit.id"  >   
                    <!--track by produit.id-->
                    <!--| orderBy: 'nomProduit'-->
                    <option value=""></option>
                </select> 
                <div ng-show="editForm.produit.$invalid">
                    <p class="help-block"
                       ng-show="editForm.produit.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>                
            </div>            
            <div class="col-md-4"></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"  for="field_stockFinalTheorique">Stock Theorique</label>
            <div class="col-md-6">
                <input type="number" class="form-control" name="stockFinalTheorique" id="field_stockFinalTheorique" ng-disabled="true"
                       ng-model="vm.inventaire.stockFinalTheorique" required/>
                <div ng-show="editForm.stockFinalTheorique.$invalid">
                    <p class="help-block"
                       ng-show="editForm.stockFinalTheorique.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="field_stockReel">Stock Réel</label>
            <div class="col-md-6">
                <input type="number" class="form-control" name="stockReel" id="field_stockReel"
                       ng-model="vm.inventaire.stockReel" required/>
                <div ng-show="editForm.stockReel.$invalid">
                    <p class="help-block"
                       ng-show="editForm.stockReel.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-rounded" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span >Annuler</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary btn-rounded">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span >Sauvegarder</span>
        </button>
    </div>
</form>
