<div>
    <h2 translate="webstockerApp.mission.home.title">Missions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="mission.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="webstockerApp.mission.home.createLabel">
                        Create new Mission
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'webstockerApp.mission.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th style="display: none" jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="libelle"><span >Libellé</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateDebut"><span >Date début</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateFin"><span >Date fin</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="objectifGeneral"><span >Objectif général</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="objectifSpecifique"><span >Objectif spécifique</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="localite.ville"><span >Localité</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cellule.nom"><span >Cellule</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="mission in vm.missions track by mission.id">
                    <td style="display: none"><a ui-sref="mission-detail({id:mission.id})">{{mission.id}}</a></td>
                    <td>{{mission.libelle}}</td>
                        <td>{{mission.dateDebut | date:'mediumDate'}}</td>
                        <td>{{mission.dateFin | date:'mediumDate'}}</td>
                    <td>{{mission.objectifGeneral}}</td>
                    <td>{{mission.objectifSpecifique}}</td>
                    <td>
                        <a ui-sref="localite-detail({id:mission.localite.id})">{{mission.localite.ville}}</a>
                    </td>
                    <td>
                        <a ui-sref="cellule-detail({id:mission.cellule.id})">{{mission.cellule.nom}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" style="display: none"
                                    ui-sref="mission-detail({id:mission.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="mission.edit({id:mission.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="mission.delete({id:mission.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
