<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Trésorerie</h1>
    <jhi-alert></jhi-alert>
</div>
<div class="wrapper-md">

    <div class="panel panel-default">
        <!-- <div class="panel-heading font-bold">Listes des créances</div> -->
        <div class="panel-body">
            <div class="col-md-12" >
                <!-- <div class="col-md-12" style="padding-top: 10px; padding-left: 30px; font-weight: bold;">
                    Rechercher facture par
                </div> -->
                

                <div class="form-group">
                    <div class="col-md-7" style="padding-top: 10px; padding-left: 30px">
                        <label class="col-md-4 control-label">Catégorie créance: </label>
                        <div class="col-md-8" style="margin-bottom: 20px;">
                            <select  name="magasin" required="" ng-model="vm.categorieCreance" class="form-control" ng-change="vm.allCreancesByCategorie()">
                                <option value=""></option>
                                <option value="1">Catégorie 1 ( Créances inférieures 30 jours )</option>
                                <option value="2">Catégorie 2 ( Créances entre 30 et 45 jours )</option>
                                <option value="3">Catégorie 3 ( Créance supérieures 45 jours )</option>
                            </select>
                            <span ng-show="form.validateInput('magasin', 'required')" class="text-danger">This field is required</span>
                        
                        </div>

                            
             
                    </div>

   
                    
                </div>
                
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading font-bold">Listes des factures</div>
        <div class="panel-body">
            <div class="col-md-12" >
                <form class="form-validation form-horizontal">                


                    <div class="table-responsive">
                        <table class="jh-table table table-striped">
                            <thead>
                                <tr >
                                    <!--<th ><span>ID</span> </th>-->
                                    <th><span >Nom client</span> </th>
                                    <th ><span>N° téléphone</span> </th>

                                    <th ><span >Commercial</span> </th>
                                    <!-- <th ><span >Magasin</span> </th> -->
                                    <th ><span >Produit</span> </th>
                                    <!--<th ><span >Client</span> </th>-->
                                    <th ><span>Date facture</span> </th>
                                    <th ><span>N° facture</span> </th>
                                    <th ><span>Montant produit</span> </th>
                                    <th>Solde à payer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  ng-repeat="creance in vm.creances track by creance.idFacture">
                                    <td>{{ creance.nomClient }}</td>
                                    <!-- <td>BS00001</td> -->
                                    <td></td> <!-- N° tel-->
                                    <!-- <td>Magasin Centrale</td> -->
                                    <td>{{ creance.nomUser }}</td>
                                    <td>{{ creance.nomProduit }}</td>
                                    <td>{{ creance.dateFacture | date: 'dd MMM yyyy' }}</td>
                                    <td>{{ creance.numero }}</td>
                                    <td>{{ creance.prixDeVente }}</td>
                                    <td>{{ creance.resteApayer }}</td>
                                    <!-- <td>
                                        <button type="submit" class="btn btn-info btn-sm"
                                        ui-sref="tresorerie.pay({id:facture.id})">
                                        <i class="fa fa-money"> </i>
                                    </button>
                                    </td> -->
                                </tr>
                                <!--track by bonDeSortie.id-->
                             
                            </tbody>
                        </table>
                       
                    </div>
                    <div class="text-center">
                        <button class="btn btn-default btn-rounded " type="button" ng-disabled="vm.currentPage == 0" ng-click="vm.setPage(0)">
                            << 
                        </button>
                        <button class="btn btn-default btn-rounded " type="button" ng-disabled="vm.currentPage == 0" ng-click="vm.setPage(vm.currentPage - 1)">
                            < Précedent
                        </button>
                        {{vm.currentPage + 1}}/{{vm.totalPage}}
                        <button class="btn btn-default btn-rounded " type="button" ng-disabled="vm.currentPage >= vm.totalPage - 1" ng-click="vm.setPage(vm.currentPage + 1)">
                            Suivant >
                        </button>
                        <button class="btn btn-default btn-rounded " type="button" ng-disabled="vm.currentPage >= vm.totalPage - 1" ng-click="vm.setPage(vm.totalPage - 1)">
                            >>
                        </button>

                    </div>
                   
                </form>
            </div>
        </div>
    </div>

</div>




<script>

</script>