<form ng-submit="vm.saveFactureReglement()">
<div class="modal-header">
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="showHealthLabel">
		Reglement facture
    </h4>
</div>
<div class="modal-body pad">

    <div class="row">
    
    <fieldset style="padding-left: 20px; padding-right: 20px;">
        <legend>Facture</legend>

        
    </fieldset>

        <div style="margin-bottom: 45px;">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">Numéro facture</label>
                    <div class="col-md-8">
                        <input type="text" name="numero" ng-model="vm.facture.numero"
                               required  class="form-control" readonly/>
    
                        <span ng-show="form.validateInput('numero', 'required')" class="text-danger">This field is required</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">Date facture</label>
                    <div class="col-md-8">
                        <!-- class="input-group" -->
                        <p >
                            <input id="datePaiement" type="text" class="form-control" readonly
                                   name="datePaiement" uib-datepicker-popup="dd MMMM yyyy"
                                   ng-model="vm.facture.dateFacture"
                                   is-open="vm.datePickerOpenStatus.dateFin"
                                   required/>
                            <!-- <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateFacture')"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span> -->
                        </p>
                        <span ng-show="form.validateInput('datePaiement', 'required')" class="text-danger">This field is required</span>
               </div>
                </div>
            </div>
        </div>
    
    
        <div class="col-md-12" style="padding-left: 0%; padding-right: 0%;">
    
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">Client</label>
                    <div class="col-md-8" >
                        <input type="text" name="nomClient" ng-model="vm.facture.client.nomClient"
                               required  class="form-control" readonly/>
    
                        <span ng-show="form.validateInput('delaiPaiement', 'required')" class="text-danger">This field is required</span>
                    </div>
                </div>
            </div>
    
            <div class="col-md-6">
                
            </div> 
            
        </div>



   
<!-- 
    <div class="col-md-12">
        <hr>
    </div> -->

    <fieldset style="padding-left: 20px; padding-right: 20px; margin-top: 110px">
        <legend >Liste produits</legend>
    </fieldset>

    <div class="" style="margin-left: 10px; margin-right: 10px;">
        <table class="jh-table table table-striped">
            <thead>
                <tr >
                    <th><span >Produit</span> </th>

                    <!-- <th style="text-align: right;"><span >Quantité</span><br><span style="color: #7a72ed; font-size: .9em;">Prix unitaire</span></th> -->
                    <!-- <th ><span >Magasin</span> </th> -->
                    <!--<th ><span >Client</span> </th>-->
                    <th style="text-align: right;"><span>Prix de vente</span> </th>
                    <th ><span>Date règlment</span> </th>
                    <th ><span>Montant encaissé</span> </th>
                    <th style="text-align: right;">Montan reglé</th>
                    <th style="text-align: right;">Reste à payer</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(index, lbs) in vm.listDetailFactureDto track by lbs.id">
                    <td style="padding-top: 2px;
                    padding-bottom: 2px;" ng-style="{'background-color':( (lbs.resteApaye || 0)  == 0 ? '#30c7517d' : '')}">{{ lbs.nomProduit }}</td>
                    <!-- <td>BS00001</td> -->
                    <!-- <td style="text-align: right;">{{ lbs.quantite }}<br><span style="color: #7a72ed; font-size: .9em;">{{ lbs.prixDeVente.toLocaleString() }}</span></td> -->
                    <!-- <td>Magasin Centrale</td> -->
                    <td style="text-align: right; padding-top: 2px;
                    padding-bottom: 2px;" ng-style="{'background-color':( (lbs.resteApaye || 0)  == 0 ? '#30c7517d' : '')}">{{ lbs.prixDeVente.toLocaleString() }}</td>

                    <td style="padding-top: 2px;
                    padding-bottom: 2px;" ng-style="{'background-color':( (lbs.resteApaye || 0)  == 0 ? '#30c7517d' : '')}">
                        <p class="input-group" ng-if="(lbs.resteApaye || 0) != 0">
                            <input id="datePaiement" type="text" class="form-control" onfocus="$(this).blur()" 
                                name="datePaiement" uib-datepicker-popup="dd MMMM yyyy"
                                datepicker-options="vm.options"
                                ng-model="vm.dateReglements[index]"
                                is-open="vm.datePickerOpenStatus['dateReglement' + index]"
                                ng-required='(lbs.resteApaye || 0)  != 0 && vm.montantVerses[index] ? "required" : ""' style="height: 1.9em; background-color: #eee; opacity: 1;"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateReglement' + index)" style="    height: 1.9em;
                                padding-top: 2px;">
                                <i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </td>


                    <td style="padding-top: 2px;
                    padding-bottom: 2px;" ng-style="{'background-color':( (lbs.resteApaye || 0)  == 0 ? '#30c7517d' : '')}">
                        <input ng-keyup="vm.verifMontantSaisie(index)" ng-if="(lbs.resteApaye || 0) != 0" type="text" name="montantVerse" ng-model="vm.montantVerses[index]" 
                        ng-required='(lbs.resteApaye || 0)  != 0 && vm.dateReglements[index] ? "required" : ""' ng-pattern="/^[0-9]+$/" min="0" max="{{ (lbs.resteApaye || 0) }}" class="form-control" style="text-align: right; height: 1.9em;" />

                        <!-- <input ng-if="(lbs.resteApaye || 0) == 0" disabled type="number"
                                   required ng-pattern="/^[0-9]+$/" min="0" max="{{ (lbs.resteApaye || 0) }}" class="form-control" style="text-align: right; height: 1.9em;" /> -->
                    </td>
                    <td style="text-align: right; padding-top: 2px;
                    padding-bottom: 2px;" class="" ng-style="{'background-color':( (lbs.resteApaye || 0)  == 0 ? '#30c7517d' : '')}">{{ (toNumber(lbs.montantRegle || '0') + (vm.montantVerses[index] || 0)).toLocaleString() }}</td>
                    <td style="text-align: right; padding-top: 2px;
                    padding-bottom: 2px;" class="" ng-style="{'background-color':( (lbs.resteApaye || 0)  == 0 ? '#30c7517d' : '')}">{{ (vm.toNumber(lbs.resteApaye || '0') - (vm.montantVerses[index] || 0)).toLocaleString() }}</td>
                    
                </tr>
                <!-- <tr ng-repeat="bonDeSortie in vm.bonDeSortie">
                    <td>{{bonDeSortie.numero}}</td>
                    <td>{{bonDeSortie.daateCreation| date:'mediumDate'}}</td>
                    <td>
                        {{bonDeSortie.demandeur.lastName + ' ' + bonDeSortie.demandeur.firstName}}
                    </td>
                    <td>{{bonDeSortie.magasin.nomMagasin}} </td>
                    <td> {{bonDeSortie.destination.nomMagasin}}  </td>
                    <td >{{bonDeSortie.statusTranfert}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">

                            <button type="submit"              
                                    ui-sref="reception_transfert.edit({id:bonDeSortie.id})"                                   
                                    class="btn btn-success btn-sm">
                                <span class="glyphicon glyphicon-ok ">  </span>
                                <span class="hidden-xs hidden-sm"></span>
                                   Valider
                            </button>

                        </div>
                    </td>
                </tr> -->
            </tbody>
         
        </table>
       
    </div>

    <div style="margin-top: 30px; display: flex; justify-content: flex-end; margin-right: 10px" >
        <table class="jh-table table table-striped" style="width: 30%">
            <tr>
                <th>Valeur totale: </th>
                <th style="text-align: right;">{{ vm.valeurTotale }}</th>
            </tr>
            <tr>
                <th>Montant total reglé: </th>
                <th style="text-align: right;">{{ vm.montantRegle + vm.versementsTotal() }}</th>
            </tr>
            <tr>
                <th>Reste total à payer: </th>
                <th style="text-align: right;">{{ vm.resteAPayer - vm.versementsTotal() }}</th>
            </tr>
        </table>
    </div>

    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-success pull-right btn-rounded" type="submit" style="    margin-left: 10px;
    padding-left: 30px;
    padding-right: 30px;" ng-disabled="vm.isSaving || !(vm.dateReglements.length && vm.montantVerses.length)">Payer</button>

    <button data-dismiss="modal" class="btn btn-default pull-right btn-rounded" type="button" ng-click="vm.cancel()" style="padding-left: 30px;
    padding-right: 30px;">Fermer</button>
    
</div>

</form>
