
<form name="editForm" role="form" novalidate ng-submit="vm.save()" class= "form-horizontal" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPrixLabel" >Créer ou editer un Prix</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" style="display: none">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.prix.id" readonly />
        </div>
        <div class="form-group">
            <label class=" col-md-2 control-label" for="field_produit">Produit</label>
            <div class="col-md-6">
            <select class="form-control" id="field_produit" name="produit" ng-model="vm.prix.produit" ng-options="produit as produit.nomProduit for produit in vm.produits track by produit.id">
                <option value=""></option>
            </select>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="field_categorieclient">Categorie client</label>
              <div class="col-md-6">
            <select class="form-control" id="field_categorieclient" name="categorieclient" ng-model="vm.prix.categorieclient" 
                    ng-options="categorieclient as categorieclient.libelleCategorieclient for categorieclient in vm.categorieclients track by categorieclient.id">
                <option value=""></option>
            </select>
              </div>
            <div class="col-md-4">
            </div>
        </div>
        
        <div class="form-group">
            <label class=" col-md-2 control-label"  for="field_prixUnitaire">Prix unitaire</label>
            <div class="col-md-6">
            <input type="number" class="form-control" name="prixUnitaire" id="field_prixUnitaire"
                    ng-model="vm.prix.prixUnitaire"
                    required />
            <div ng-show="editForm.prixUnitaire.$invalid">
                <p class="help-block"
                    ng-show="editForm.prixUnitaire.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.prixUnitaire.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
            </div>
            <div class="col-md-4"> </div>
        </div>
        <div class="form-group">
            <label class=" col-md-2 control-label" for="field_dateFixation">Date fixation</label>
            <div class="col-md-6">
                <div class="input-group">                   
                    <input id="field_dateFixation" readonly  type="text" class="form-control" name="dateFixation" 
                           uib-datepicker-popup="dd MMMM yyyy" ng-model="vm.prix.dateFixation" 
                           is-open="vm.datePickerOpenStatus.dateFixation"  required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateFixation')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dateFixation.$invalid">
                <p class="help-block"
                    ng-show="editForm.dateFixation.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox col-md-offset-2 col-md-10">
                  <label class="i-checks">
                    <input type="checkbox" name="actif" id="field_actif" ng-model="vm.prix.actif" checked=""/>
                    <i></i> Actif
                  </label>
                </div>
            <!--<label class="col-md-2 control-label" translate="webstockerApp.prix.actif" for="field_actif">Actif</label>-->
<!--            <input type="checkbox" class="form-control" name="actif" id="field_actif"
                    ng-model="vm.prix.actif"  />-->
            <div ng-show="editForm.actif.$invalid">
                <p class="help-block"
                    ng-show="editForm.actif.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-rounded" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span >Annuler</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary btn-rounded">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span >Sauvegarder</span>
        </button>
    </div>
</form>
