<div>
    <h2 >Fixer ou modifier un prix</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="prix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  >
                        Créer un nouveau prix
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'webstockerApp.prix.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th style="display: none"><span translate="global.field.id">ID</span></th>
                    <th><span >Prix unitaire</span></th>
                    <th><span >Date fixation</span></th>
                    <th><span >Actif</span></th>
                    <th><span >Produit</span></th>
                    <th><span >Categorie client</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="prix in vm.prixes track by prix.id">
                    <td style="display: none"><a ui-sref="prix-detail({id:prix.id})">{{prix.id}}</a></td>
                    <td>{{prix.prixUnitaire}}</td>
                        <td>{{prix.dateFixation | date:'dd MMMM yyyy'}}</td>
                    <td>{{prix.actif}}</td>
                    <td>
                        <!--<a ui-sref="produit-detail({id:prix.produit.id})">{{prix.produit.nomProduit}}</a>-->
                         <a ui-sref="produit-detail({id:prix.produit.id})">{{prix.produit.nomProduit}}</a>
                    </td>
                    <td>
                         <a ui-sref="categorieclient-detail({id:prix.categorieclient.id})">{{prix.categorieclient.libelleCategorieclient}}</a>
                        <!--<a ui-sref="categorieclient-detail({id:prix.categorieclient.id})">{{prix.categorieclient.libelleCategorieClient}}</a>-->
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" style="display: none"
                                    ui-sref="prix-detail({id:prix.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="prix.edit({id:prix.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" ></span>
                                Editer
                            </button>
                            <!--translate="entity.action.edit"-->
                            <button type="submit"
                                    ui-sref="prix.delete({id:prix.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" ></span>
                                Supprimer
                            </button>
                            <!--translate="entity.action.delete"-->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
