<!--
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLigneBonDeSortieLabel" translate="webstockerApp.ligneBonDeSortie.home.createOrEditLabel">Create or edit a LigneBonDeSortie</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.ligneBonDeSortie.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="webstockerApp.ligneBonDeSortie.quantite" for="field_quantite">Quantite</label>
            <input type="number" class="form-control" name="quantite" id="field_quantite"
                    ng-model="vm.ligneBonDeSortie.quantite"
                    required />
            <div ng-show="editForm.quantite.$invalid">
                <p class="help-block"
                    ng-show="editForm.quantite.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.quantite.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="webstockerApp.ligneBonDeSortie.prixVente" for="field_prixVente">PrixVente</label>
            <input type="number" class="form-control" name="prixVente" id="field_prixVente"
                    ng-model="vm.ligneBonDeSortie.prixVente"
                     />
        </div>

        <div class="form-group">
            <label translate="webstockerApp.ligneBonDeSortie.produit" for="field_produit">produit</label>
            <select class="form-control" id="field_produit" name="produit" ng-model="vm.ligneBonDeSortie.produit" ng-options="produit as produit.nomProduit for produit in vm.produits track by produit.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="webstockerApp.ligneBonDeSortie.bonDeSortie" for="field_bonDeSortie">bonDeSortie</label>
            <select class="form-control" id="field_bonDeSortie" name="bonDeSortie" ng-model="vm.ligneBonDeSortie.bonDeSortie" ng-options="bonDeSortie as bonDeSortie.id for bonDeSortie in vm.bondesorties track by bonDeSortie.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>-->



<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLigneBonDeSortieLabel" > Modifier une ligne de bon de sortie</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.ligneBonDeSortie.id" style="display: none">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.ligneBonDeSortie.id" readonly />
        </div>
        <div class="form-group">
            <label  for="field_lot">Lot</label>
            <select class="form-control" id="field_lot" name="lot" ng-model="vm.ligneBonDeSortie.lot" 
                    ng-options="lot as lot.numeroLot for lot in vm.lots track by lot.id" readonly>
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label  for="field_produit">Produit</label>
            <select class="form-control" id="field_produit" name="produit" ng-model="vm.ligneBonDeSortie.produit" 
                    ng-options="produit as produit.nomProduit for produit in vm.produits track by produit.id">
                <option value=""></option>
            </select>
        </div>
        
        <div class="form-group">
            <label class="control-label"  for="field_quantite">Quantité</label>
            <input type="number" class="form-control" name="quantite" id="field_quantite"
                    ng-model="vm.ligneBonDeSortie.quantite"
                    required/>
            <div ng-show="editForm.quantite.$invalid">
                <p class="help-block"
                    ng-show="editForm.quantite.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.quantite.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group" style="display: none">
            <label class="control-label" data-translate="webstockerApp.ligneBonDeSortie.prixVente" for="field_prixVente">Prix Vente</label>
            <input type="number" class="form-control" name="prixVente" id="field_prixVente"
                    ng-model="vm.ligneBonDeSortie.prixVente"
                    required/>
            <div ng-show="editForm.prixVente.$invalid">
                <p class="help-block"
                    ng-show="editForm.prixVente.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.prixVente.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label"  for="field_prixDeVente">Prix de vente</label>
            <input type="number" class="form-control" name="prixDeVente" id="field_prixDeVente"
                    ng-model="vm.ligneBonDeSortie.prixDeVente"
                    required/>
            <div ng-show="editForm.prixDeVente.$invalid">
                <p class="help-block"
                    ng-show="editForm.prixDeVente.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.prixDeVente.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>


        <div class="form-group" style="display: none">
            <label data-translate="webstockerApp.ligneBonDeSortie.bonDeSortie" for="field_bonDeSortie">Bon De Sortie</label>
            <select class="form-control" id="field_bonDeSortie" name="bonDeSortie" ng-model="vm.ligneBonDeSortie.bonDeSortie" ng-options="bonDeSortie as bonDeSortie.id for bonDeSortie in vm.bondesorties track by bonDeSortie.id">
                <option value=""></option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-rounded" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary btn-rounded">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
