
<form name="editForm" role="form" class="form-horizontal" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFabricantLabel" translate="webstockerApp.fabricant.home.createOrEditLabel">Create or edit a Fabricant</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div style="display: none" class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.fabricant.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"  for="field_nomFabricant">Nom</label>
            <div class="col-md-6">
            <input type="text" class="form-control" name="nomFabricant" id="field_nomFabricant"
                    ng-model="vm.fabricant.nomFabricant" required />
            <div ng-show="editForm.nomFabricant.$invalid">
                <p class="help-block"
                    ng-show="editForm.nomFabricant.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
            </div>
            <div class="col-md-4"> </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="field_paysFabricant">Pays</label>
            <div class="col-md-6">
            <input type="text" class="form-control" name="paysFabricant" id="field_paysFabricant"
                    ng-model="vm.fabricant.paysFabricant" />
            </div>
            <div class="col-md-4"> </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="field_produit">Produit</label>
            <div class="col-md-6">
            <select class="form-control" id="field_produit" multiple name="produit" ng-model="vm.fabricant.produits" ng-options="produit as produit.nomProduit for produit in vm.produits track by produit.id"></select>
         </div>
            <div class="col-md-4"> </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-rounded" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span >Annuler</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary btn-rounded">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span >Sauvegarder</span>
        </button>
    </div>
</form>
