<div class="panel panel-body">
    <form role="form" >
        <div class="wrapper-md">

            <div class="row">
                <!-- <div class="panel-heading font-bold">Listes des créances</div> -->
                <div class="col-md-12" >
                
                        
                    <div class="form-group">
                        <div class="col-md-12">
                            
                            <div class="col-md-5 form-group">
                                <label class="control-label">Type facture</label>
                                <div class="form-group">             
                                    <select class="form-control" id="field_type_facture" name="type_facture" ng-model="vm.typeFacture"  required="">                       
                                    <option value=""></option>
                                    <option value="NON_SOLDE">Non soldé</option>
                                    <option value="SOLDE">soldé</option>
                                </select>
                                
                                </div>
                            </div>
    
                                
                 
                        </div>
    
                        <div class="col-md-12" >
                            <div class="col-md-5">
                                <label class="control-label">Date debut</label>
                            <div>
                                <p class="input-group">
                                    <input id="datePaiement" type="text" class="form-control" readonly
                                           name="datePaiement" uib-datepicker-popup="dd MMMM yyyy"
                                           datepicker-options="vm.options"
                                           ng-model="vm.dateDebut"
                                           is-open="vm.datePickerOpenStatus.dateDebut"
                                           required/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" 
                                                ng-click="vm.openCalendar('dateDebut')"><i
                                                class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                                <span ng-show="form.validateInput('datePaiement', 'required')" class="text-danger">This field is required</span>
                           </div>
                            </div>
    
                         
                            <div class="col-md-5 form-group">
                                <label class="control-label text">Date fin</label>
                                <div class="">
                                    <p class="input-group">
                                        <input id="datePaiement" type="text" class="form-control" readonly
                                               name="datePaiement" uib-datepicker-popup="dd MMMM yyyy"
                                               datepicker-options="vm.options"
                                               ng-model="vm.dateFin"
                                               is-open="vm.datePickerOpenStatus.dateFin"
                                               required/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" 
                                                    ng-click="vm.openCalendar('dateFin')"><i
                                                    class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                    <span ng-show="form.validateInput('datePaiement', 'required')" class="text-danger">This field is required</span>
                               </div>
                            </div>
    
                          
                            <div class="col-md-2 input-group">
                                <br>
                                <button type="submit" class="btn btn-info btn-rounded"
                                        ng-click="vm.imprimerEtatFacturesSoldesNonSoldes()" style="    width: 125px;">
                                    <i class="fa fa-print"> </i> Imprimer
                                </button>
                               </div>
    
                        </div>

      
       
                        
                    </div>
                </div>
            </div>
    
        
        </div>

    </form>

</div>