<div class="panel panel-body">
    <form role="form" >
        <div class="wrapper-md">

            <div class="row">
                <!-- <div class="panel-heading font-bold">Listes des créances</div> -->
                <div class="col-md-12" >
                
                        
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-2 control-label">Agent commercial</label>
                            <div class="col-md-4 form-group">             
                                    <select class="form-control" id="field_demandeur" name="demandeur" ng-model="vm.commercial" 
                                            ng-options="user as user.lastName+' '+user.firstName for user in vm.users track by user.id" required="">                       
                                <option value=""></option>
                            </select>
                               
                            </div>
    
                                
                 
                        </div>
    
                        <div class="col-md-12" >
                            <label class="col-md-2 control-label">Date debut</label>
                            <div class="col-md-4" style="margin-bottom: 10px;">
                                <p class="input-group">
                                    <input id="datePaiement" type="text" class="form-control" readonly
                                           name="datePaiement" uib-datepicker-popup="dd MMMM yyyy"
                                           datepicker-options="vm.options"
                                           ng-model="vm.dateDebut"
                                           is-open="vm.datePickerOpenStatus.dateDebut"
                                           required/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateDebut')"><i
                                                class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                                <span ng-show="form.validateInput('datePaiement', 'required')" class="text-danger">This field is required</span>
                           </div>
    
                            <label class="col-md-2 control-label text">Date fin</label>
                            <div class="col-md-4">
                                <p class="input-group">
                                    <input id="datePaiement" type="text" class="form-control" readonly
                                           name="datePaiement" uib-datepicker-popup="dd MMMM yyyy"
                                           datepicker-options="vm.options"
                                           ng-model="vm.dateFin"
                                           is-open="vm.datePickerOpenStatus.dateFin"
                                           required/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateFin')"><i
                                                class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                                <span ng-show="form.validateInput('datePaiement', 'required')" class="text-danger">This field is required</span>
                           </div>
    
                          
    
                        </div>

                        <div class="col-md-12" style="display: flex; justify-content: center;">
                            <button type="submit" class="btn btn-info btn-rounded"
                                    ng-click="vm.imprimerRapportEtatCreanceParCommercial()" style="    width: 125px;">
                                <i class="fa fa-print"> </i> Imprimer
                            </button>
                           </div>
       
                        
                    </div>
                </div>
            </div>
    
        
        </div>

    </form>

</div>