<div class="panel panel-body">
    <form role="form" class="form-horizontal">
        <div class="row">
            <div class="form-group">
                <label class="col-md-2 control-label">Antenne </label>
                <div class="col-md-6">
                    <select name="ville" required="" ng-model="vm.rapportData.ville"
                            ng-options="ville as ville.libelle for ville in vm.villes | orderBy : 'libelle'"
                            class="form-control" >
                        <!--track by ville.id-->
                        <!--<option value="" default selected >choisissez le district </option>-->
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Date début période </label>
                <div class="col-md-6" >
                    <p class="input-group">
                        <input type="text"  class="form-control" id="field_dateDebut" name="dateDebutMois" uib-datepicker-popup="dd MMMM yyyy"
                                ng-model="vm.rapportData.dateDebutPeriode" is-open="vm.datePickerOpenStatus.dateDebutMois" required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateDebutMois')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
                <div ng-show="editForm.dateDebutMois.$invalid">
                    <p class="help-block"
                       ng-show="editForm.dateDebutMois.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div   class="form-group" >
                <label class="col-md-2 control-label">Date fin période </label>
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text"  class="form-control" id="field_dateDebut" name="dateFinMois" uib-datepicker-popup="dd MMMM yyyy"
                                ng-model="vm.rapportData.dateFinPeriode" is-open="vm.datePickerOpenStatus.dateFinMois" required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateFinMois')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
                <div ng-show="editForm.dateFinMois.$invalid">
                    <p class="help-block"
                       ng-show="editForm.dateFinMois.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
                <div class="col-md-4"></div>
            </div>
            
            <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default btn-rounded" type="submit" ng-click="vm.afficherEtat()"> Valider</button>
            </div>
            </div>
        </div>

    </form>

</div>
