<div>
    <h2 translate="webstockerApp.bonDeSortie.home.title">BonDeSorties</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="bon-de-sortie.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="webstockerApp.bonDeSortie.home.createLabel">
                        Create new BonDeSortie
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'webstockerApp.bonDeSortie.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numero"><span translate="webstockerApp.bonDeSortie.numero">Numero</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="daateCreation"><span translate="webstockerApp.bonDeSortie.daateCreation">DaateCreation</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="typeSortie"><span translate="webstockerApp.bonDeSortie.typeSortie">TypeSortie</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="typeVente"><span translate="webstockerApp.bonDeSortie.typeVente">TypeVente</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="demandeur.id"><span translate="webstockerApp.bonDeSortie.demandeur">demandeur</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="client.id"><span translate="webstockerApp.bonDeSortie.client">client</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="magasin.id"><span translate="webstockerApp.bonDeSortie.magasin">magasin</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="destination.id"><span translate="webstockerApp.bonDeSortie.destination">destination</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bonDeSortie in vm.bonDeSorties track by bonDeSortie.id">
                    <td><a ui-sref="bon-de-sortie-detail({id:bonDeSortie.id})">{{bonDeSortie.id}}</a></td>
                    <td>{{bonDeSortie.numero}}</td>
                        <td>{{bonDeSortie.daateCreation | date:'mediumDate'}}</td>
                    <td translate="{{'webstockerApp.TypeSortie.' + bonDeSortie.typeSortie}}">{{bonDeSortie.typeSortie}}</td>
                    <td translate="{{'webstockerApp.TypeVente.' + bonDeSortie.typeVente}}">{{bonDeSortie.typeVente}}</td>
                    <td>
                        {{bonDeSortie.demandeur.id}}
                    </td>
                    <td>
                        <a ui-sref="client-detail({id:bonDeSortie.client.id})">{{bonDeSortie.client.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="magasin-detail({id:bonDeSortie.magasin.id})">{{bonDeSortie.magasin.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="magasin-detail({id:bonDeSortie.destination.id})">{{bonDeSortie.destination.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="bon-de-sortie-detail({id:bonDeSortie.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="bon-de-sortie.edit({id:bonDeSortie.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="bon-de-sortie.delete({id:bonDeSortie.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
