<div class="bg-light lter b-b wrapper-md" >
    <h1 class="m-n font-thin h3">Gestion des ventes et du stock</h1>
    <small>Mouvement du stock : vente et promotion</small>
</div>
<div class="wrapper-md" >
    <div class="panel panel-default">
        <div class="panel-heading font-bold">Gestion des ventes et du stock</div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="col-sm-3" has-authority="ROLE_SVP">
                    
                    <div class=" img-responsive img-center" style="margin:0 auto;" >
                     
                        <a  ng-click="facturation()" ui-sref="client-vente"  title="Réaliser une vente de produit"  data-toggle="tooltip"  data-placement="bottom">
                            <img id="imagesurvol" src="img/caisse.png" class=" img-circle img-responsive" />
                        </a>
                    </div>
                    <div class="panel-body">
                        <p style="text-align: center; "> <b>Réaliser une vente</b></p>
                        <p></p>

                    </div>
                    <!--</div>-->
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-sm-3" has-authority="ROLE_SVP">
                    <div class=" img-responsive img-center" style="margin:0 auto;">
                        <a  ng-click="facturation()" ui-sref="promotion-produit" title="Sortie de produit pour la promotion"  data-toggle="tooltip"  data-placement="bottom">
                            <img id="imagesurvol" src="img/promotion.png" class=" img-circle img-responsive" />
                        </a>
                    </div>
                    <div class="panel-body">
                        <p style="text-align: center; "> <b>Réaliser une sortie pour promotion</b></p>
                        <p></p>

                    </div>
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-sm-3" has-authority="ROLE_TRANSFERT">
                    <div class=" img-responsive img-center" style="margin:0 auto;">
                        <a  ng-click="facturation()" ui-sref="transfert-produit" title="Transfert de produit vers un autre site AIMAS"  data-toggle="tooltip"  data-placement="bottom">
                            <img id="imagesurvol" src="img/transfert1.png" class=" img-circle img-responsive" />
                        </a>
                    </div>
                    <div class="panel-body">
                        <p style="text-align: center; "> <b>Réaliser un transfert de produit </b></p>
                        <p></p>

                    </div>
                </div>
               
            </div>
           
            <div class="col-md-12">
                <div class="col-sm-3" has-authority="ROLE_OBJECTIF">
                     <div class=" img-responsive img-center" style="margin:0 auto;">
                        <a  ng-click="facturation()" ui-sref="objectifs_mise_a_jour" title="Ojectifs de vente"  data-toggle="tooltip"  data-placement="bottom">
                            <img id="imagesurvol" src="img/reglement-client.png" class=" img-circle img-responsive" />
                        </a>
                    </div>
                    <div class="panel-body">
                        <p style="text-align: center; "> <b> Taux d'atteinte des objectifs de vente</b></p>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-sm-3">
                    <div class=" img-responsive img-center" style="margin:0 auto;">
                        <a  ng-click="facturation()" ui-sref="rapport-de-vente" title="Rapports des ventes"  data-toggle="tooltip"  data-placement="bottom">
                            <img id="imagesurvol" src="img/transfert.png" class=" img-circle img-responsive" />
                        </a>
                    </div>
                    <div class="panel-body">
                        <p style="text-align: center; "> <b>Rapports des ventes</b></p>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-1">

                </div>
                 <div class="col-sm-3" has-authority="ROLE_GEST_CLIENT">
                    <div class=" img-responsive img-center" style="margin:0 auto;">
                        <a  ng-click="facturation()" ui-sref="gestion-clientelle" title="Gestion des clients"  data-toggle="tooltip"  data-placement="bottom">
                            <img id="imagesurvol" src="img/soldeclient.png" class=" img-circle img-responsive" />
                        </a>
                    </div>
                    <div class="panel-body">
                        <p style="text-align: center; "> <b>Gestion des clients</b></p>
                        <p></p>
                    </div>
                </div>
                
            </div>
            <div class="col-md-12">
                <div class="col-sm-3">
<!--                    <div class=" img-responsive img-center" style="margin:0 auto;">
                        <a  ng-click="facturation()" ui-sref="objectifs-de-vente" title="Objectifs des vents"  data-toggle="tooltip"  data-placement="bottom">
                            <img id="imagesurvol" src="img/objectif_vente.png" class=" img-circle img-responsive" />
                        </a>
                    </div>
                    <div class="panel-body">
                        <p style="text-align: center; "> <b>Objectif des ventes</b></p>
                        <p></p>
                    </div>-->
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-sm-3">
                    
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-sm-3">
                    
                </div>
                
            </div>
        </div>
    </div>
</div>
