<div>
    <h2>Calendrier approvisionnement</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 no-padding-left">
                <button class="btn btn-primary" ui-sref="calendrier-appro-form" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Créer un inventaire
                    </span>
                </button>

                <button class="btn btn-success" ui-sref="calendrier-appro-form" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Générer calendrier d'approvisionnement
                    </span>
                </button>
            </div>


            <!-- <div class="col-md-8">
                <div class="radio col-md-4">
                    Rechercher par 
                </div>

                
                <div class="radio col-md-4" style="    margin-top: 10px;">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" ng-model="vm.typeRecherche" value="bymoisannee" style="display: inline;">
                        Mois / Année
                    </label>
                    </div>

                <div class="radio col-md-4" style="    margin-top: 10px;">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="vm.typeRecherche" value="byproddate" checked style="display: inline;">
                        Produit et date
                    </label>
                    </div>


            </div> -->


<!-- 
            <div class="col-xs-12 no-padding-right" style="display: flex; justify-content: end;" ng-show="vm.typeRecherche === 'byproddate'">

                <label class="col-lg-1 control-label text" style="margin-top: auto; margin-bottom: auto;">Produit</label>
                <div class="col-lg-3" style="margin-bottom: 10px;">

                    <select style="margin-top: 10px;" class="form-control" id="field_produit" name="produit" ng-model="vm.produit" ng-options="produit as produit.nomProduit for produit in vm.produits track by produit.id">
                        <option value=""></option>
                    </select>
                </div>


                <div class="input-group pull-right col-xs-3" >

                        <p class="input-group" style="margin-top: 10px;">
                            <input id="datePaiement" type="text" class="form-control" readonly style="background-color: white;"
                                   name="datePaiement" uib-datepicker-popup="yyyy"
                                   datepicker-options="vm.options"
                                   ng-model="vm.searchAnnee"
                                   is-open="vm.datePickerOpenStatus.searchAnnee"
                                   uib-datepicker-popup="yyyy"
                                   alt-input-formats="['yyyy']"
                                   required 
                                   />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.openCalendar('searchAnnee')"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                        
              

                   <span  class="input-group-btn width-min" >
                    <button class="btn btn-info" ng-click="vm.searchProduitAnnee()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
                <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                    <button class="btn btn-info" ng-click="vm.clear()">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </span>


                </div>
            </div> -->



            <!-- ------------------------------------ -->
            <div class="col-xs-12 no-padding-right" style="display: flex; justify-content: end;"  ng-show="vm.typeRecherche === 'bymoisannee'">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >


                        <!--<label class="control-label col-md-2"  for="field_dateInventaire">Date Inventaire</label>-->

                        <div class="input-group">
                            <input id="datePaiement" type="text" class="form-control" readonly style="background-color: white;"
                            name="datePaiement" uib-datepicker-popup="MMMM yyyy"
                            datepicker-options="vm.changeOptions()"
                            ng-model="vm.searchQuery"
                            is-open="vm.datePickerOpenStatus.searchDate"
                            placeholder="Date de la recherche"
                            required/>
                     <span class="input-group-btn">
                         <button type="button" class="btn btn-default" ng-click="vm.openCalendar('searchDate')"><i
                                 class="glyphicon glyphicon-calendar"></i></button>
                     </span>
                        </div>
                        
                        <div class="input-group">
                            <select class="form-control" id="field_produit" name="produit" ng-model="vm.produit"
                                    ng-options="produit as produit.nomProduit for produit in vm.produits track by produit.id">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="input-group" style="margin-right: 10px;">
                            <!--<input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'webstockerApp.inventaire.home.search' | translate }}">-->
                            <span  class="input-group-btn width-min" >
                                <button class="btn btn-info"  ng-click="vm.search()" title="Rechercher"  data-toggle="tooltip"  data-placement="bottom">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                        <!-- <span class="input-group-btn width-min" >

                            <button class="btn btn-info width-min" ng-click="vm.exportExcel()"title="Imprimer calendrier d'approvisionnement"  data-toggle="tooltip"  data-placement="bottom">
                                <span class="glyphicon glyphicon-print"></span>&nbsp; Imprimer calendrier d'approvisionnent 2024
                            </button>
                        </span> -->
                    </div>
                </form>
            </div>
            
            <!-- ---------------------------------- -->



        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <!-- <th><span>ID</span></th> -->
                    <th><span >Date inventaire</span></th>
                    <th><span>Produit</span></th>
                    <th><span>Stock theorique</span></th>
                    <th><span>Arrivage</span></th>
                    <th><span>Vente</span></th>
                    <th><span>Promo</span></th>
                    <th><span>Perte/Abimé</span></th>
                    <th><span>Stock réel magasin</span></th>
                    <th><span>Stock réel antènne</span></th>
                    <th><span>Stock réel delegués et commerciaux</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
                <tr ng-repeat="inventaire in vm.inventaires track by inventaire.id">
                    <!-- <td><a ui-sref="lignefacture-detail({id:inventaire.id})">{{inventaire.id}}</a></td> -->
                    <td>{{inventaire.dateInventaire}}</td>
                    <td>
                        <a ui-sref="lot-detail({id:inventaire.lot.id})">{{inventaire.produit.nomProduit}}</a>
                    </td>
                    <td>
                        <a ui-sref="facture-detail({id:inventaire.facture.id})">{{inventaire.stockFinalTheorique}}</a>
                    </td>
                    <td>{{inventaire.arrivage}}</td>
                    <td>{{inventaire.vente}}</td>
                    <td>{{inventaire.promo}}</td>
                    <td>{{inventaire.perteAbime}}</td>
                    <td>{{inventaire.stockMagasinCentral}}</td>
                    <td>{{inventaire.stockAntenne}}</td>
                    <td>{{inventaire.stockAgent}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                     
                            <button type="submit"
                                    ui-sref="calendrier-appro-form({id:inventaire.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <!-- ui-sref="lignefacture-detail({id:inventaire.id})" -->
                            <!-- <button type="button"  ng-click="vm.exportExcel(inventaire)"
                               
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-print"></span>
                                <span class="hidden-xs hidden-sm">Imprimer</span>
                            </button> -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>














<div class="col-xs-12 no-padding-right" style="display: flex; justify-content: end;" ng-show="vm.typeRecherche === 'byproddate'">

    <label class="col-lg-1 control-label text" style="margin-top: auto; margin-bottom: auto;">Produit</label>
    <div class="col-lg-3" style="margin-bottom: 10px;">

        <select style="margin-top: 10px;" class="form-control" id="field_produit" name="produit" ng-model="vm.produit" ng-options="produit as produit.nomProduit for produit in vm.produits track by produit.id">
            <option value=""></option>
        </select>
    </div>


    <div class="input-group pull-right col-xs-3" >

<!-- 
        <input type="text" class="form-control" uib-datepicker-popup="{{vm.format}}" ng-model="vm.dt" is-open="vm.popup.opened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" alt-input-formats="vm.altInputFormats" readonly />
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="vm.open()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span> -->
            
        <!-- <div class="form-control"> -->
            <p class="input-group" style="margin-top: 10px;">
                <input id="datePaiement" type="text" class="form-control" readonly style="background-color: white;"
                       name="datePaiement" uib-datepicker-popup="yyyy"
                       datepicker-options="vm.options"
                       ng-model="vm.searchAnnee"
                       is-open="vm.datePickerOpenStatus.searchAnnee"
                       uib-datepicker-popup="yyyy"
                       alt-input-formats="['yyyy']"
                       required 
                       />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('searchAnnee')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
            
       <!-- </div> -->

       <span  class="input-group-btn width-min" >
        <button class="btn btn-info" ng-click="vm.searchProduitAnnee()">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </span>
    <span class="input-group-btn width-min" ng-if="vm.currentSearch">
        <button class="btn btn-info" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </span>


        <!-- <input type="month" c ng-model="vm.searchQuery" id="searchQuery" placeholder="Rechercher">
        <span  class="input-group-btn width-min" >
            <button class="btn btn-info" ng-click="vm.search()">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
            <button class="btn btn-info" ng-click="vm.clear()">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </span> -->
    </div>
</div>