<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Transfert de produit</h1>
    <jhi-alert></jhi-alert>
</div>

<div class="wrapper-md">
    <uib-tabset class="tab-container" active="steps.indexActif" ng-init="steps={percent:20, step1:true, step2:false, step3:false, indexActif:0}">

        <uib-tab index="0" heading="Bon de sortie"  active="steps.step1" select="steps.percent=10">
            <!--<p class="m-b">Use the Bootstrap tab components and ngForm to build the form wizard.</p>-->
            <uib-progressbar value="steps.percent" class="progress-xs" type="success"></uib-progressbar>
            <!--<h4>Validate Form</h4>-->
            <form name="step1" class="form-validation form-horizontal">
                <fieldset style="display: none">
                    <div class="form-group">
                        <label class="col-md-2 control-label">ID</label>
                        <div class="col-md-6">
<!--                            <input type="text" id="id" name="id" ng-model="vm.commande.id" readonly
                                   class="form-control"/>-->
                            <input type="text" id="id" name="id" ng-model="vm.bonDeSortie.id" readonly
                                   class="form-control"/>
                        </div>
                        <div class="col-md-4">
                            &lt;!&ndash;  <small class="text-muted">*</small>&ndash;&gt;
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Numero bon de sortie</label>
                        <div class="col-sm-3">
                            <input type="text" name="numero" required="" ng-change="vm.bonDeSortie.numero = (vm.bonDeSortie.numero | uppercase)"
                                   ng-model="vm.bonDeSortie.numero" class="form-control"/>
                            <span ng-show="form.validateInput('numero', 'pattern')" class="text-danger">This field must contain only digits</span>
                        </div>
                        <div class="col-sm-1">
                            <small class="text-muted">*</small>
                        </div>
                    </div>
                </fieldset>

                <fieldset>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Date bon de sortie</label>
                        <div class="col-sm-3">
                            <p class="input-group">
                                <input id="field_dateCommande" type="text" class="form-control"  name="dateCommande" uib-datepicker-popup="dd MMMM yyyy"
                                       ng-model="vm.bonDeSortie.daateCreation" readonly is-open="vm.datePickerOpenStatus.dateCommande"  required/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateCommande')"><i
                                                    class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                            </p>
                            <span ng-show="form.validateInput('dateCommande', 'required')" class="text-danger">This field is required</span>
                        </div>
                        <div class="col-sm-1">
                            <small class="text-muted">*</small>
                        </div>

                        <label class="col-md-2 control-label">Demandeur</label>
                        <div class="col-sm-3">
                            <!--<label class="col-md-2 control-label">{{vm.commande.fabricant.produit.nomProduit}}</label>-->
                            <select class="form-control" required="" id="demandeur" name="demandeur"
                                    ng-model="vm.bonDeSortie.demandeur"
                                    ng-options="userAimas as (userAimas.lastName+' '+userAimas.firstName) for userAimas in vm.userAimas track by userAimas.id">
                                <option value=""></option>
                            </select>
                            <span ng-show="form.validateInput('demandeur', 'required')" class="text-danger">This field is required</span>
                        </div>
                        <div class="col-sm-1">
                            <small class="text-muted">*</small>
                        </div>


                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Magasin d'origine</label>
                        <div class="col-md-6">
                            <select  name="magasin" required="" ng-model="vm.bonDeSortie.magasin"
                                     ng-options="magasin as magasin.nomMagasin for magasin in vm.magasins track by magasin.id"
                                    class="form-control">
                                <option value=""></option>
                            </select>
                            <span ng-show="form.validateInput('magasin', 'required')" class="text-danger">This field is required</span>
                        </div>
                        <div class="col-md-4">
                            <small class="text-muted">*</small>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Magasin de destination</label>
                        <div class="col-md-6">
                            <select  name="destination" required="" ng-model="vm.bonDeSortie.destination"
                                    ng-options="magasin as magasin.nomMagasin for magasin in vm.magasins track by magasin.id"
                                    class="form-control">
                                <option value=""></option>
                            </select>
                            <span ng-show="form.validateInput('destination', 'required')" class="text-danger">This field is required</span>
                        </div>
                        <div class="col-md-4">
                            <small class="text-muted">*</small>
                        </div>
                    </div>
                </fieldset>                
                <fieldset style="display:none">
                    <div class="form-group">
                        <label class="control-label col-md-2"  for="field_statusTranfert">Status Tranfert</label>
                        <div class="col-md-6">
                            <select class="form-control" name="statusTranfert" ng-model="vm.bonDeSortie.statusTranfert" id="field_statusTranfert">
                                <option value="RECU" >RECU</option>
                                <option value="ENCOURS" >ENCOURS</option>
                            </select>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </fieldset>
                <fieldset style="display:none">
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="field_emetteur">Receptionné par</label>
                        <div class="col-md-6">
                            <select class="form-control" id="field_emetteur" name="emetteur" ng-model="vm.bonDeSortie.emetteur" 
                                    ng-options="user as user.login for user in vm.users track by user.id">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </fieldset>
                <fieldset style="display:none" > 
                    <div class="form-group">
                        <label class="control-label col-md-2" for="field_dateReceptionTransfert">Date Reception Transfert</label>
                        <div class="col-md-6">   
                            <div class="input-group">
                                <input id="field_dateReceptionTransfert" type="text" class="form-control" name="dateReceptionTransfert" uib-datepicker-popup="dd MMMM yyyy" 
                                       ng-model="vm.bonDeSortie.dateReceptionTransfert" is-open="vm.datePickerOpenStatus.dateReceptionTransfert"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateReceptionTransfert')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </fieldset>
                
                <div class="m-t m-b">
                    <button type="submit" ng-disabled="step1.$invalid" class="btn btn-default btn-rounded"
                            ng-click="steps.indexActif=1">Suivant
                    </button>
                    <button type="submit" ng-show=" !vm.bonDeSortie.id? false :true " class="btn btn-default btn-rounded"
                            ng-click="vm.rechargermentDataBonDesortie()">
                        <i class="fa fa-pencil-square-o"> </i> Modifier
                    </button>
                </div>
            </form>
        </uib-tab>

        <uib-tab index="1" heading="Lignes bon de sortie" disable="step1.$invalid" active="steps.step2" select="steps.percent=30">
            <form name="step2" class="form-validation form-horizontal">
                <!--<p class="m-b">Continue the next step</p>-->
                <uib-progressbar value="steps.percent" class="progress-xs" type="success"></uib-progressbar>

                <fieldset>
                    <div  class="form-group">
                        <label class="col-md-2 control-label">Produit</label>
                        <div class="col-sm-3">
                            <!--<label class="col-md-2 control-label">{{vm.commande.fabricant.produit.nomProduit}}</label>-->
                            <select class="form-control" required="" id="field_produit" name="produit"
                                    ng-model="vm.produitCommande"
                                    ng-options="produit as produit.nomProduit for produit in vm.produits track by produit.id">
                                <option value=""></option>
                            </select>
                            <span ng-show="form.validateInput('produit', 'required')" class="text-danger">This field is required</span>
                        </div>
                        <div class="col-sm-1">
                            <small class="text-muted">*</small>
                        </div>
                    </div>
                </fieldset>


                <fieldset>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Quantite</label>
                        <div class="col-md-6">
                            <input type="number" name="quantite" ng-model="vm.lignecommande.quantite"
                                    required="" ng-pattern="/^[0-9]+$/"
                                   class="form-control" max="{{maxStockProduit}}"     placeholder="{{qteStockProduitDisponiblePlaceholder}}"/>
                                    <span ng-show="form.validateInput('quantiteLigneCommande', 'number')"
                                          class="text-danger">This field must be a valid number</span>
                        </div>
                        <div class="col-md-4">
                            <small class="text-muted">*</small>
                        </div>
                    </div>
                </fieldset>

                <div class="panel-footer text-center">
                    <button type="submit" ng-disabled="step2.$invalid" ng-click="vm.addLigneCommande()" class="btn btn-info btn-rounded">Ajouter une ligne de commande</button>
                </div>


                <fieldset>
                    <legend>
                        <small class="text-muted">Lignes du bon de sortie</small>
                    </legend>
                    <div class="table-responsive">
                        <table class="jh-table table table-striped">
                            <thead>
                            <tr>
                                <th style="display:none"> ID</th>
                                <th>Produit</th>
                                <th>Quantite</th>
                                <th>Lot</th>
                                <th>Date Peremption</th>
                                <!--<th>Prix de vente</th>-->
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                <!--track by ligne.lot.id-->
                            <tr ng-repeat="ligne in vm.sortieWrappers ">
                                <td style="display:none">{{ligne.id}} </td>
                                <td>
                                    <!--<a ui-sref="produit-detail({id:lignecommande.produit.id})">{{lignecommande.produit.nomProduit}}</a>-->
                                    {{ligne.produit.nomProduit}}
                                </td>

                                <td>{{ligne.quantite}}</td>

                                <td>{{ligne.lot.numeroLot}}</td>

                                <td>{{ligne.lot.datePeremption| date:"dd MMMM yyyy"}}</td>
                                <td class="text-right">
                                    <!--ng-click=" vm.confirmDeleteLigne(ligne.id,ligne)"-->
                                    <div class="btn-group flex-btn-group-container">
<!--                                        <button type="submit"  ng-click="vm.modifierLigneTransfert(ligne.id)"
                                                class="btn btn-purple btn-sm" ng-show=" btnModifierLigne=='modifier' "> 
                                            <span class="glyphicon glyphicon-pencil"></span>
                                            <span class="hidden-xs hidden-sm"></span>
                                            Modifier
                                        </button>-->
                                        <!--ng-hide="btnModifierLigne=='modifier' "-->
                                        <!--ng-show="btnModifierLigne==='modifier' "-->
                                        <button type="submit" ng-click="vm.removeLigneCommande(ligne)"
                                                class="btn btn-danger btn-sm" >
                                            <span class="glyphicon glyphicon-remove-circle"></span>
                                            <span class="hidden-xs hidden-sm"
                                                  translate="entity.action.delete"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!--</div>-->
                    </div>
                    <div class="col-sm-1"></div>
                    <!--<p></p>-->
                    <!--<br/>-->
                    <!--<div class="col-sm-1"></div>-->
                    <!--<div class="col-sm-10">-->
                        <!--<button ng-click="table.addUser()" class="btn btn-success" style="color: white;">Valider-->
                            <!--Commande-->
                        <!--</button>-->
                    <!--</div>-->
                    <!--<div class="col-sm-1"></div>-->
                    <p></p>
                </fieldset>

                <div class="m-t m-b">
                    <button type="button" class="btn btn-default btn-rounded" ng-click="steps.indexActif=0">Préc.</button>
                    <button type="submit" ng-disabled="(vm.ligneCommandeIndex >= 1) ? false : true " class="btn btn-default btn-rounded"

                            ng-click="steps.indexActif=2">Suivant
                    </button>
                </div>
            </form>
        </uib-tab>

        <uib-tab index="2" heading="Détails du transfert" disable="step2.$invalid" active="steps.step3" select="maxqte ==0 ? steps.percent=100 : steps.percent=60">
            <p class="m-b">Vérifier les informations du transfert et valider.</p>
            <uib-progressbar value="steps.percent" class="progress-xs" type="success"></uib-progressbar>

            <form name="step1" class="form-validation form-horizontal">
                <!--<fieldset style="display: none">-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-2 control-label">ID</label>-->
                        <!--<div class="col-md-6">-->
                            <!--<input type="text" id="id" name="id" ng-model="vm.commande.id" readonly-->
                                   <!--class="form-control"/>-->
                        <!--</div>-->
                        <!--<div class="col-md-4">-->
                            <!--&lt;!&ndash;  <small class="text-muted">*</small>&ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

                <fieldset>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Numero bon de transfert</label>
                        <div class="col-sm-3">
                            <input type="text" name="numero" required="" ng-disabled="true"
                                   ng-model="vm.bonDeSortie.numero" class="form-control"/>
                            <span ng-show="form.validateInput('numero', 'pattern')" class="text-danger">This field must contain only digits</span>
                        </div>
                        <div class="col-sm-1">
                            <small class="text-muted">*</small>
                        </div>
                    </div>
                </fieldset>

                <fieldset>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Date bon de transfert</label>
                        <div class="col-sm-3">
                            <p class="input-group">
                                <input id="field_dateCommande" type="text" class="form-control"
                                       ng-value="vm.bonDeSortie.daateCreation | date: 'dd MMMM yyyy' " ng-disabled="true"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateCommande')"><i
                                                    class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                            </p>
                            <span ng-show="form.validateInput('dateCommande', 'required')" class="text-danger">This field is required</span>
                        </div>
                        <div class="col-sm-1">
                            <small class="text-muted">*</small>
                        </div>

                        <label class="col-md-2 control-label">Demandeur</label>
                        <div class="col-sm-3">
                            <select class="form-control" required="" id="demandeur" name="demandeur"
                                      ng-model="vm.bonDeSortie.demandeur" ng-disabled="true"
                                   ng-options="userAimas as (userAimas.lastName+' '+userAimas.firstName) for userAimas in vm.userAimas track by userAimas.id">
                                <option value=""></option>
                            </select>
                            <span ng-show="form.validateInput('demandeur', 'required')" class="text-danger">This field is required</span>
                        </div>
                        <div class="col-sm-1">
                            <small class="text-muted">*</small>
                        </div>

                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Magasin d'origine</label>
                        <div class="col-md-6">
                            <select  name="magasin" required="" ng-model="vm.bonDeSortie.magasin"
                                     ng-options="magasin as magasin.nomMagasin for magasin in vm.magasins track by magasin.id"
                                     class="form-control" ng-disabled="true">
                                <option value=""></option>
                            </select>
                            <span ng-show="form.validateInput('magasin', 'required')" class="text-danger">This field is required</span>
                        </div>
                        <div class="col-md-4">
                            <small class="text-muted">*</small>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Magasin de destination</label>
                        <div class="col-md-6">
                            <select  name="destination" required="" ng-model="vm.bonDeSortie.destination"
                                    ng-options="magasin as magasin.nomMagasin for magasin in vm.magasins track by magasin.id"
                                    class="form-control" ng-disabled="true">
                                <option value=""></option>
                            </select>
                            <span ng-show="form.validateInput('destination', 'required')" class="text-danger">This field is required</span>
                        </div>
                        <div class="col-md-4">
                            <small class="text-muted">*</small>
                        </div>
                    </div>
                </fieldset>

            </form>
            
            <form name="step2" class="form-validation form-horizontal">
                
                <fieldset >
                    <div  class="form-group" style="display: none" >
                        <label class="col-md-2 control-label">Produit</label>
                        <div class="col-sm-3">
                            <!--<label class="col-md-2 control-label">{{vm.commande.fabricant.produit.nomProduit}}</label>-->
                            <select class="form-control" required="" id="field_produit" name="produit"
                                    ng-model="vm.produitCommande" ng-disabled="true"
                                    ng-options="produit as produit.nomProduit for produit in vm.produits track by produit.id">
                                <option value=""></option>
                            </select>
                            <span ng-show="form.validateInput('produit', 'required')" class="text-danger">This field is required</span>
                        </div>
                        <div class="col-sm-1">
                            <small class="text-muted">*</small>
                        </div>
                    </div>
                </fieldset>


                <fieldset >
                    <div class="form-group" style="display: none">
                        <label class="col-md-2 control-label">Quantité</label>
                        <div class="col-md-6">
                            <input type="number" name="quantite" ng-model="vm.lignecommande.quantite"
                                    required="" ng-pattern="/^[0-9]+$/"
                                    class="form-control" ng-disabled="true"/>
                                    <span ng-show="form.validateInput('quantiteLigneCommande', 'number')"
                                          class="text-danger">This field must be a valid number</span>
                        </div>
                        <div class="col-md-4">
                            <small class="text-muted">*</small>
                        </div>
                    </div>
                </fieldset>
               
                <fieldset>
                    <legend>
                        <small class="text-muted">Lignes du bon de sortie</small>
                    </legend>
                    <div class="table-responsive">
                        <table class="jh-table table table-striped">
                            <thead>
                            <tr>
                                <th style="display:none"> ID</th>
                                <th>Produit</th>
                                <th>Quantite</th>
                                <th>Lot</th>
                                <th>Date Peremption</th>
                                <!--<th>Prix de vente</th>-->
                                <!--<th></th>-->
                            </tr>
                            </thead>
                            <tbody>
                                <!--track by ligne.lot.id-->
                            <tr ng-repeat="ligne in vm.sortieWrappers ">
                                 <td style="display:none">{{ligne.id}} </td>
                                <td>
                                    <!--<a ui-sref="produit-detail({id:lignecommande.produit.id})">{{lignecommande.produit.nomProduit}}</a>-->
                                    {{ligne.produit.nomProduit}}
                                </td>

                                <td>{{ligne.quantite}}</td>

                                <td>{{ligne.lot.numeroLot}}</td>

                                <td>{{ligne.lot.datePeremption| date : "dd MMMM yyyy"}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <!--</div>-->
                    </div>
                    <div class="col-sm-1"></div>
                    
                    <p></p>
                </fieldset>                
            </form>
            
            <p>Validez le bon pour terminer.</p>
            <div class="m-t m-b">
                <button type="button" class="btn btn-default btn-rounded" ng-click="steps.indexActif=1">Préc.</button>
                <button type="button" class="btn btn-default btn-rounded" ng-disabled="button_clicked"  ng-click="vm.saveCommandeFournisseur()">Valider la commande
                </button>
            </div>
        </uib-tab>
    </uib-tabset>

</div>