<div class="bg-light lter b-b wrapper-md" >
    <h1 class="m-n font-thin h3">Gestion des activités des cellules</h1>
    <small>Les activités de sensibilisation : budget et</small>
</div>
<div class="wrapper-md"  >
    <div class="panel panel-default">
        <div class="panel-heading font-bold">Gestion des activités</div>
        <div class="panel-body">
            <div class="col-md-12" has-authority="ROLE_CCC">
                <div class="col-sm-3" >
                    <!--<div class="panel panel-default ">-->
                    <div class=" img-responsive img-center" style="margin:0 auto;" >
                        <a  ng-click="activite()" ui-sref="choix-activite" title="Activité Planification familiale"   data-toggle="tooltip"  data-placement="bottom">
                            <img id="imagesurvol" src="img/pf.png" class=" img-circle img-responsive" />
                        </a>
                    </div>
                    <div class="panel-body">
                        <p style="text-align: center; "> <b>Planification Familiale(PF)</b></p>
                        <p></p>

                    </div>
                    <!--</div>-->
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-sm-3" >
                    <div class=" img-responsive img-center" style="margin:0 auto;">
                        <a  ng-click="activite()" ui-sref="choix-activite" title="Activité communication pour le changement de comportement"  data-toggle="tooltip"  data-placement="bottom">
                            <img id="imagesurvol" src="img/ccc.png" class=" img-circle img-responsive" />
                        </a>
                    </div>
                    <div class="panel-body">
                        <p style="text-align: center; "> <b>Communication pour le Changement de Comportement (CCC)</b></p>
                        <p></p>

                    </div>
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-sm-3" >
                    <div class=" img-responsive img-center" style="margin:0 auto;">
                        <a  ng-click="activite()" ui-sref="choix-activite"title=" Activité cellule IST/VIH"  data-toggle="tooltip"  data-placement="bottom">
                            <img id="imagesurvol" src="img/ist-vih.png" class=" img-circle img-responsive" />
                        </a>
                    </div>
                    <div class="panel-body">
                        <p style="text-align: center; "> <b>Cellule IST/VIH</b></p>
                        <p></p>
                    </div>
                </div>
            </div>
           
            <div class="col-md-12">
                <div class="col-sm-3" has-authority="ROLE_CCC">
                     <div class=" img-responsive img-center" style="margin:0 auto;">
                        <a  ng-click="activite()" ui-sref="choix-activite" title="Activité centre Stratégie et Média"  data-toggle="tooltip"  data-placement="bottom">
                            <img id="imagesurvol" src="img/csm.png" class=" img-circle img-responsive" />
                        </a>
                    </div>
                    <div class="panel-body">
                        <p style="text-align: center; "> <b>Centre de Stratégie et Média (CSM)</b></p>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-sm-3" has-authority="ROLE_CPF">
<!--                    <div class=" img-responsive img-center" style="margin:0 auto;">
                        <a  ng-click="activite()" href="#" title="Rapports des ventes"  data-toggle="tooltip"  data-placement="bottom">
                            <img id="imagesurvol" src="img/commande.png" class=" img-circle img-responsive" />
                        </a>
                    </div>
                    <div class="panel-body">
                        <p style="text-align: center; "> <b>Rapports des ventes</b></p>
                        <p></p>
                    </div>-->
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
