
<form name="editForm" class="form-horizontal" role="form" novalidate  show-validation>
<!--ng-submit="vm.save()"-->
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProduitLabel" >Creer ou editer un Produit</h4>
    </div>
    <div class="modal-body">
        <!--<jhi-alert-error></jhi-alert-error>-->
        <div class="form-group" style="display: none">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.produit.id" readonly />
        </div>
        
         <div class="form-group">
            <label class=" col-md-2 control-label"  for="field_categorie">Catégorie</label>
            <div class="col-md-6">
            <select class="form-control" id="field_categorie" name="categorie" ng-model="vm.produit.categorie" ng-options="categorie as categorie.nomCategorie for categorie in vm.categories track by categorie.id">
                <option value=""></option>
            </select>
            </div>
            <div class="col-md-4"> </div>
        </div>
        <div class="form-group">
            <label class=" col-md-2 control-label" for="field_nomProduit">Produit</label>
            <div class="col-md-6">
            <input type="text" class="form-control" name="nomProduit" id="field_nomProduit"
                    ng-model="vm.produit.nomProduit"
                    required />
            <div ng-show="editForm.nomProduit.$invalid">
                <p class="help-block"
                    ng-show="editForm.nomProduit.$error.required" translate="entity.validation.required" >
                    This field is required.
                </p>
            </div>
            </div>
            <div class="col-md-4"> </div>
        </div>
        <div class="form-group">
            <label class=" col-md-2 control-label" for="field_descriptionProduit">Description </label>
            <div class="col-md-6">
            <input type="text" class="form-control" name="descriptionProduit" id="field_descriptionProduit"
                    ng-model="vm.produit.descriptionProduit"/>
            </div>
            <div class="col-md-4"> </div>
        </div>
       
        <div class="form-group">
            <label  class=" col-md-2 control-label" for="field_conditionnement">Conditionnement</label>
            <div class="col-md-6">
            <select class="form-control" id="field_conditionnement" name="conditionnement" ng-model="vm.produit.conditionnement" ng-options="conditionnement as conditionnement.libelle for conditionnement in vm.conditionnements track by conditionnement.id">
                <option value=""></option>
            </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-rounded" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Annuler</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary btn-rounded" ng-click="vm.rechercher(vm.produit.nomProduit)">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Sauvegarder</span>
        </button>
    </div>
</form>





<!--

<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProduitLabel" translate="webstockerApp.produit.home.createOrEditLabel">Create or edit a Produit</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" >
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.produit.id" readonly />
        </div>
        <div class="form-group">
            <label class=" col-md-2 control-label" translate="webstockerApp.produit.nomProduit" for="field_nomProduit">nomProduit</label>
            <div class="col-md-6">
            <input type="text" class="form-control" name="nomProduit" id="field_nomProduit"
                    ng-model="vm.produit.nomProduit"
                    required />
            <div ng-show="editForm.nomProduit.$invalid">
                <p class="help-block"
                    ng-show="editForm.nomProduit.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
            </div>
            <div class="col-md-4"> </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="webstockerApp.produit.descriptionProduit" for="field_descriptionProduit">DescriptionProduit</label>
            <input type="text" class="form-control" name="descriptionProduit" id="field_descriptionProduit"
                    ng-model="vm.produit.descriptionProduit"
                     />
        </div>

        <div class="form-group">
            <label translate="webstockerApp.produit.categorie" for="field_categorie">categorie</label>
            <select class="form-control" id="field_categorie" name="categorie" ng-model="vm.produit.categorie" ng-options="categorie as categorie.nomCategorie for categorie in vm.categories track by categorie.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="webstockerApp.produit.conditionnement" for="field_conditionnement">conditionnement</label>
            <select class="form-control" id="field_conditionnement" name="conditionnement" ng-model="vm.produit.conditionnement" ng-options="conditionnement as conditionnement.libelle for conditionnement in vm.conditionnements track by conditionnement.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>-->
