<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Etat global du stock</h1>
    <small>Etat global du stock de tout les produits de AIMAS</small>
</div>
<div class="wrapper-md">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading font-bold">Etat global du stock</div>
                <div class="panel-body">
                    <div>
                        <p class="btn btn-primary">
                            <a ui-sref="rapport-global-stock.bailleur">
                                <span class="glyphicon glyphicon-book"></span>

                                <span class=" hidden-xs">
                                    Valeur global du stock par bailleur
                                </span>
                            </a>
                        </p>
                    </div>

                    <br/>
                    <form role="form"   >
                        <div class="row">
                            <div class=" col-md-4 form-group">
                                <label class="control-label"  for="field_dateLivraison">Date début période</label>
                                <p class="input-group">
                                    <input id="field_dateLivraison" type="text" class="form-control" name="dateDebut" uib-datepicker-popup="dd MMMM yyyy" 
                                           ng-model="vm.rapportData.dateDebut" is-open="vm.datePickerOpenStatus.dateDebut" required/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateDebut')"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                                <div ng-show="editForm.dateDebut.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.dateDebut.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>

                            </div>

                            </div> 
                            <div class=" col-md-4 form-group">
                                <label class="control-label"  for="field_dateLivraison">Date fin période</label>
                                <p class="input-group">
                                    <input id="field_dateLivraison" type="text" class="form-control" name="dateFin" uib-datepicker-popup="dd MMMM yyyy" 
                                           ng-model="vm.rapportData.dateFin" is-open="vm.datePickerOpenStatus.dateFin" required/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateFin')"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                                <div ng-show="editForm.dateFin.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.dateFin.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>

                            </div>
                            </div>   
                            <div c> 
                                <br/> 
                               
                                <p>  </p>
<!--                                    <button type="submit" class="btn btn-info btn-rounded" >
                                        <span class="glyphicon glyphicon-search"> </span> 

                                    </button>  
                                                            -->
                                                                 
                                <button type="submit" class="btn btn-default btn-rounded" ng-click="vm.afficherEtat()" >
                                        <span class="glyphicon glyphicon-print"> </span>
                                        Aperçu et impression </button>
                                
                            </div>
                        </div>
                    </form>
<!--                    <div class="table-responsive">
                        <table class="jh-table table table-striped">
                            <thead>
                                <tr>
                                    <th ><span >Produits</span></th>
                                    <th><span >Vendus</span></th>
                                    <th><span >Valeur des ventes</span></th>
                                    <th><span >Promotion</span></th>
                                    <th><span >Perte</span></th>
                                    <th><span >en stock</span></th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr >
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">
                                            <button type="submit"
                                                    ui-sref="produit.delete({id:produit.id})"
                                                    class="btn btn-danger btn-sm">
                                                <span class="glyphicon glyphicon-remove-circle"></span>
                                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>-->
<!--                    <div>
                        <p> <pan style="font-size: 1.4em;">Valeur totale du stock de produits vendus : </pan> <pan style="font-size: 1.5em; color: blue;"> 999 999 999 999 FCFA</pan></p>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-default btn-rounded" >
                            <span class="glyphicon glyphicon-print"> </span>
                            Imprimer le rapport </button>
                    </div>-->

                </div>
            </div>  
        </div>
    </div>
            
</div>
